body {
  font-family: 'Lato', sans-serif;
  color: #234175;
  background-color: #174a68;
  display: flex;
  align-items: start;
}

div {
  border-radius: 3px;
}

#main {
  display: flex;
  align-items: start;
}

.title {
  font-weight: 900;
}

.editable {
  user-select: none;
  outline: none;
  margin: 7px;
  padding: 10px;
  cursor: pointer !important;
  display: flex;
  justify-content: space-between;
}

.editing {
  background: white;
  color: #172b4d !important;
  box-shadow:inset 0px 0px 0px 2px #0279bf;
}

.editing:hover {
  background: white !important;
}

.card {
  background: rgb(244, 244, 244);
  border-bottom: 1px solid #aaa;
}

.list {
/*   padding: 7px; */
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: #dfe1e6;
}

.PBacklog {
  background: #91D3CF;
}

.SBacklog {
  background: #f5ac2f;
}

.Progress {
  background: #FF7F66;
}

.Review {
  background: #FEF5E4;
}

.Done {
  background: #b4de6d;
}

.add-list {
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: rgb(180, 180, 180);

}

.resource-item {
  color: rgb(100, 100, 100);
}

.ghost {
  opacity: .1;
  color: #000;
  background-color: #000;
}

.add-card {
  width: calc(100% - 35px);
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  color: rgb(74, 97, 113);
  text-decoration: none;
/*   border-bottom: 1px solid #dfe1e6; */
}

.add-card:hover {
  background-color: rgba(9,30,66,.13);
}

.del {
  font-weight: 400;
  color: gray;
}
resource-item {
  text-color: rgb(49, 49, 49);  
}